html,body{
    width : 100%;
    min-height : 100%;
    margin : 0;
    padding : 0;
    background-color : #eee;
}

.divider{
    padding : 10px;
    &.divider-red{
        border : 2px solid red;
    }
    &.divider-orange{
        border : 2px solid orange;
    }
    &.divider-green{
        border : 2px solid green;
    }
    &.divider-blue{
        border : 2px solid blue;
    }
    &.divider-sienna{
        border : 2px solid sienna;
    }
}

// divider를 보지않기
.no-divider{
    .divider{
        border : none !important;
    }
}

.todopage-container{
    width : 800px;
    margin : auto;
    background-color: #fff;
    border-radius : 5px;
    margin-top: 50px;
    box-shadow: 1px 1px 3px #333;
    padding : 20px;
    
    .todo-input-group{
        width : 100%;
        border : 1px solid #a8a8a8;
        // background-color: #eee;
        border-radius : 5px;
        display:flex;
        flex-wrap:wrap;
        margin-left: 0;

        input{
            flex : 0 0 89%;
            max-width: 90%;
            margin-left: 1%;
            padding: 0;
            background:none;
            border: 0;
            font-size: 1.1em;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        button{
            flex : 0 0 10%;
            max-width: 10%;
            margin: 0;
            padding: 0;
            border: 0;
            background: #2196F3;
            color: #fff;
            font-size: 1.1em;
            border-top-right-radius : 3px;
            border-bottom-right-radius : 3px;
        }
    }

    .todopage-list-container{
        .list{
            list-style-type:none;
            .item{
                margin: 10px 0;

                &::after{
                    border-bottom: 1px solid #aaa;
                    width: 100%;
                    content:'';
                    display: block;
                }
                
                .item-desc{
                    display:inline-block;
                    p{ margin : 0; }
                }
                button{
                    float: right;
                    margin-top:18px;
                    margin-right : 20px;
                }
                
            }
        }
        
    }
}

